/* {width:"50%",height:"50px",border:"none",borderRadius:"25px",fontSize:"1.2rem",padding:"0 35px",
    margin:"0 15px 0",color:"#7f8ea3"} */
.input_field_search{
    width: 45%;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 1.25rem;
    padding: 0 35px;
    margin: 0 15px 0;
    color: #7f8ea3;
}
.submit_btn_input{
    border-radius: 56px;
    padding: 0.5rem;
    width: 10%;
    margin: 1.5% 0;
    background-color: rgba(255, 255, 255, 0.45);
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    color: #7f8ea3;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}
.search_field_class{
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.20);
    color: pink;
    font-size: 5rem;
    margin:"0 25%"
}
#search_field_class{    
        margin:"0 25%"
}
.search_field_class:hover,.submit_btn_input:hover{
       box-shadow: 0 5px 15px rgba(255, 255, 255, 0.45);
}
.search-box{
    text-align: center;
    margin:7% 0 2% ;
}
@media (max-width:640px) {
    .input_field_search{
        font-size: 1.05rem;
        width: 50%;
        padding: 0 25px;
    }
    #search_field_class{
        width: 50%;
        color: pink;
    }
    .submit_btn_input{
        font-size: 1.05rem;
    }
    .search-box{
        margin: 12% 0 0;
    }
}
.filter_search {
    padding: 16px 16px 8px;
}
.search_bar3{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    gap: 16px;
    flex-wrap: wrap
}
.search_content{
    flex-grow: 1;
    flex-basis: 48%;
    max-width: 100%;
}
.text-search-inside-it{
    position: relative;
    box-sizing: border-box;
}
