.header_login{
    width: 100%;
    padding: 1rem 1.5rem;
    margin-inline: auto;
}
span{
     font-weight: 900;
     color: red;
}
.goBack_button{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--font-secondary);
    color: #94a3b8;
    gap: 0.5rem;
    font-weight: 500;
    transition: color .5s;
    cursor: pointer;
}
.goBack_button:hover{
    color: #e3eaf3;
}

.section_container_login{
    width: 100%;
    margin-inline: auto;
    padding-inline: 0.5rem;
}
.section_signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.logo_name{
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    font-weight: 690;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.signin_content{
    margin: 1.65rem 0;
    text-align: center;
}
.signin_description{
    line-height: 1.75rem;
    color: #94a3b8;
    max-width: 40ch;
}
.main_login_box{
    width: 100%;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 0.3rem;
    background-color: #0a101f;
}
.login_text{
    font-size: 1rem;
    color: #94a3b8;
    line-height: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    

}
.login_github{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.7rem;
}
.btn_login{
    display: flex;
    justify-content: center;
    flex: 1 1;
    text-align: center;
    min-height: 2.5rem;
    background-color: #1e293b;
    border: none;
    color: white;
    border-radius: 0.375rem;
    gap: 0.57rem;
    padding: 0.35rem 1rem;
    font-size: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: 500;
} 
.contine_content{
    display: flex;
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
    gap: 0.75rem;
}
.div_continue{
    flex: 1 1;
    border: 1px solid #1e293b;
    height: 0;
    margin-top: 0.7rem;
    /* outline: 1px solid #1e293b; */
   
}
.login_description{
    font-size: 1rem;
    color: #94a3b8;
    margin-bottom: 2rem;
    line-height: 1.75rem;

}
.form_login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form_label{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.label_content{
    line-height: 1.3;
    font-size: 1rem;
}
.error_label{
    color: red;
    line-height: 1;
    font-size: 1rem;
}
.form_login>input{
    padding: 0.5rem 1rem;
    line-height: 1.75rem;
    color: #94a3b8;
    background-color: #1e293b;
    border: none;
    font-size: 1rem;
    border-radius: 0.375rem;

}
.form_login>button{
    min-height: 2.5rem;
    background-color: #f8fafc;
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    display: flex;
    border: none;
    border-radius: 0.375rem;
}